.row , .col-md-12 , .col-md-4 , .col-md-6 , .col-md-5
{
    padding: 0px;
}
.myaccount
{
    color: #876e6e;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    float: right;
    padding: 3px 7px;
    text-decoration: none;
}
.myaccount:hover
{
    color: #c58408;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-decoration: none;
}
.logo-text
{
    padding: 0px;
}
.basket
{
    /*background-image: url("img/basket.png");*/
    /*background-repeat: no-repeat;*/
    /*padding:10px 10px 10px 0px;*/
    /*text-align: left;*/
}
.item-0
{
    font-size: 25px;
}
input[type="search"] {
    font-family: FontAwesome;
    font-size: 30px;
}
::-webkit-input-placeholder {
    color: gray;
    /*text-align: -webkit-right;*/
}

.logo-heading
{
    font-size: 17px;
    font-family: 'Play', sans-serif;
    color: #ff5c5c;
    font-style: normal;
    font-weight: 700;
}

.slide
{
    background-color: #ffffff;
}
.para
{
    font-size: 14px;
    font-family: 'Play', sans-serif;
    color: #747373;
    font-style: normal;
    font-weight: 400;
}
.heading
{
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    color: #3e3d3d;
    font-style: normal;
    font-weight: 400;
}
.foot
{
    font-size: 12px;
    font-family: 'Play', sans-serif;
    color: #999898;
    font-style: normal;
}
.cart-system ul li
{
    list-style-type: none;
    position: relative;
}
.cart-system ul li ul
{
    margin: 0px;
    padding: 0px;
    display: none;
}
.cart-system ul li:hover ul
{
    display: block;
    margin-left: -252px;
    z-index: 999999;
    position: absolute;
    width: 371px;
}

.img
{
    width: 100%;
    padding: 7px;
    border: 1px solid #e0dfdf;
}
.img:hover
{
    border: 1px solid grey;
}
.out-of-stock
{
    position: absolute;
    top: 10px;
    right: 10px;
}
.added
{
    position: absolute;
    top: 10px;
    right: 10px;
}
.loader
{
    position: absolute;
    width: 93%;
    height: 100%;
    text-align: center;
    background-color: lightgrey;
    opacity: 0.5;
    top: 10px;
}
.load-img
{
    width: 10%;
    margin-top: 55%;
}
.shadow
{
    width: 100%;
    height: 30px;
    background: url(img/product-shadow.png) no-repeat top center;
    background-size: 100%;
}
.btns
{
    font-size: 10px;
    text-transform: uppercase;
    min-width: 62px;
    width: auto;
    height: auto;
    line-height: 22px;
    padding: 0 5px;
    float: none;
    margin: 10px 0 10px 0;
    text-align: center;
}

.cart:hover
{
    background-color: #be7526;
    color: #ffffff;
    text-decoration: none;
}
.cart
{
    background-color: #dc8323;
    padding: 5px 8px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.detail:hover
{
    background-color: #666767;
    color: #ffffff;
    text-decoration: none;
}
.detail
{
    background-color: #6f6e6e;
    padding: 5px 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.readmore:hover
{
    background-color: #8e413e;
    color: #ffffff;
    text-decoration: none;
}
.readmore
{
    background-color: #8e0404;
    padding: 5px 8px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}


.links
{
    margin-top: 25px;
    text-align: left;
}
.links a
{
    font-size: 11px;
    font-family: Play, sans-serif;
    color: rgb(141, 141, 141);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 7px 0px;
}
.links span
{
    font-size: 11px;
    font-family: Play, sans-serif;
    color: rgb(141, 141, 141);
    font-style: normal;
    font-weight: 400;
    padding: 7px 0px;
}

.left-img
{
    padding-right: 10px;
    margin-top: 10px;
}
.right-detail
{
    padding: 0px 10px;
    margin-top: 10px;
}
.right-detail h2
{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: #373736;
    font-style: normal;
    font-weight: 400;
}
.price-tag
{
    font-size: 25px;
    margin-top: 10px;
}
.single-pro
{
    float: left;
    color: #000;
    font-family: 'Oswald', serif;
    font-weight: bold;
}
.add-to-cart
{
    color: #ffffff;
    background-color: #333333;
    font-family: 'Oswald', serif;
    margin-top: 0px;
    border: none;
    font-weight: bold;
    padding: 3px 0px;
}
.add-to-cart:hover
{
    color: #ffffff;
    background-color: #666767;
}
.cat-anchor
{
    color: #815207;
    font-size: 12px;
    text-decoration: none;
}
.cat-line
{
    padding: 5px 0px;
}
.cat-anchor:hover
{
    color: #d98104;
    font-size: 12px;
    text-decoration: none;
}
.tab-list
{
    color: #373736;
    font-size: 20px;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'Oswald', serif;
}
.first
{
    color: #333333;
    cursor: pointer;
}
.first:hover
{
    color: #333333;
    cursor: pointer;
}
.sec
{
    color: #333333;
    cursor: pointer;
}
.sec:hover
{
    color: #333333;
    cursor: pointer;
}
.track-btn
{
    color: #fff;
    background-color: #4f4f4f;
    padding: 8px 15px;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Oswald';
    font-weight: normal;
    text-transform: uppercase;
    border: 0px;
    line-height: normal;
    box-sizing: border-box;
}
.main-heading
{
    font-size: 18px;
    text-transform: uppercase;
    float: left;
    padding-bottom: 5px;
    margin: 0px;
}
.loginbtn
{
    color: #fff;
    background-color: #4f4f4f;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Oswald';
    padding: 5px 20px;
    border: none;
}
.loginbtn:hover
{
    color: #fff;
    background-color: #4f4f4f;
    box-sizing: border-box;
}
.lost-pass
{
    color: #995d08;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}
.cartbtn
{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #373736;
    font-style: normal;
    font-weight: 700;
}
.cartbtn:hover
{
    text-decoration: none;
    color: #995d08;
}
.cartbtn1
{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #373736;
    font-style: normal;
    font-weight: 700;
}
.cartbtn1:hover
{
    text-decoration: none;
    color: #995d08;
}
.cart-right
{
    width: 70%;
    float: right;
    font-weight: 600;
    height: 20px;
    padding: 15px 0px;
    margin-top: 30px;
}
.left-cart
{
    color: #ffffff;
    background: #333333;
    padding: 5px 15px;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}
.left-cart:hover
{
    color: #ffffff;
    text-decoration: none;
    background: #828282;
}
.left-cart1
{
    color: #ffffff;
    background: #c58408;
    padding: 5px 15px;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}
.left-cart1:hover
{
    color: #ffffff;
    text-decoration: none;
    background: #e79c0c;
}